/* 기본 스타일 초기화 */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .container {
    padding: 2rem;
  }
  
  .userid {
    color: gray;
    font-size: 0.9em;
  }
  
  .disqualified {
    color: red;
  }